<h2>EMAIL CONTENTS</h2>
<p><strong>Subject:</strong> <%= @email[:subject] %></p>
<p><strong>Body:</strong> <%= @email[:parsed_body].to_s.html_safe %></p>
<br><hr>
<p><strong>Raw:</strong> <%= @email[:raw_body] %></p>
